.BackendDev{
    width: 100%;
    background-color: #301788;
}
.BackendDev__container{
    background-color: #301788;
    height: 1000px;
}
.BackendDev__title{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 65px;
    font-weight: 800;
    line-height: 134.09%;
    letter-spacing: 0%;
    text-align: center;
}
.BackendDev__text{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 53px;
    font-weight: 800;
    line-height: 134.09%;
    letter-spacing: 0%;
    text-align: center;
}

